<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/public/stylesheets/Welcome.css">
</head>

<body>

    <nav class="nav">
        <div class="logo" ">
         <img src="
            /public/assets/DALL_E_2025-02-16_23.53.44_-_A_modern_and_minimalist_logo_featuring_a_pill_icon_and_the_word__MediMate__in_white_text._The_background_should_be_white__and_the_overall_design_shoul-removebg-preview.png"
            alt="MediMate">

        </div>
        <div class="button">
            <a href="" class="buttons">Home</a>
            <a href="" class="buttons">Status</a>
            <a href="" class="buttons">About</a>
            <a href="" class="buttons">Login</a>
        </div>
    </nav>

    <section class="hero">
        <div class="container">
            <div class="home">
                <h1>Welcome</h1>
                <h3>Pill Punctuality: Click, Set, and Forget!</h3>
            </div>

            <a href="Register.ejs" class="Register">Register</a>
        </div>
    </section>

    <section class="box1">
        <div class="info">
            <div class="icons" style="display: flex; ">
                <img src="/public/assets/1.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">User-Friendly Interface to make things easier for you</p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/public/assets/2.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Personalized Medicine Scheduling</p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/public/assets/3.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Email Notifiactions so you never forget to take your Medicine</p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/public/assets/4.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Set Multiple Alarm and keep track of your Medicines</p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/public/assets/5.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Track progress of you cource duration </p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/public/assets/6.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Keep Track our your Dose Intake</p>
            </div>
        </div>

    </section>
</body>

</html>