* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 400px;
    background: rgb(24, 207, 156);
    background: linear-gradient(90deg, rgba(24, 207, 155, 0.5) 12%, rgba(47, 213, 111, 0.5) 46%, rgba(42, 193, 98, 0.5) 59%, rgba(11, 172, 148, 0.5) 78%, rgba(0, 255, 205, 0.5) 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 3;
}
.login{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(86,182,145);
    background: linear-gradient(90deg, rgba(86,182,145,1) 51%, rgba(28,169,158,1) 91%);
    color: white; 
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.spline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* transform: scale(1.2); */

}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: #218838;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}