* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4A7C60;
    height: 6vh;
    width: 100vw;
}

.logo {
    margin: 2vw;
    padding: 1vw;
}

.button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vw;
    padding: 1vw;
}

.button>.buttons {
    margin: 10px;
    padding: 2px;
    text-decoration: none;
    color: black;
    font-size: bold;
}

.hero {

    background-position: center;
    background-repeat: no-repeat;
    background-image: url(laurynas-me-1TL8AoEDj_c-unsplash.jpg)
    
}

.container {
    background-color: #4a7c601f;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    height: 100vh;
    padding: 5rem;

}
.home{
   width: 20vw;
   padding: 2rem 0;
}
.home>h1{
    padding: 1rem 0;
    font-size: 90px;
    font-weight: bolder;
    color: #4A7C60;
    text-shadow: 0.8px 0.8px #ffffff;

}
.home>h3{
    padding: 1rem 0;
    color: #4A7C60;
    font-size: xx-large;
   
}

a.Register {
    text-decoration: none;
    color: #000000;
    border: 2px solid #4A7C60;
    background-color: transparent;
    padding: 2rem 5rem;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    font-size: large;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0.8px 0.8px #ffffff;
}

a.Register:before {
    content: "let's go!!";
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4A7C60;
    transform: translateY(100%);
    transition: all 1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

a.Register:hover:before {
    transform: translateY(0);
}

.box1 {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box1 .info {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 80vw;
}
.box1 .info .icons{
    color: #4A7C60;
    border: 2px solid #4A7C60;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
