<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/public/stylesheets/About.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <nav class="nav">
        <div class="logo">
            MediMate
        </div>
        <div class="button">
            <a href="" class="buttons">Home</a>
            <a href="" class="buttons">Status</a>
            <a href="" class="buttons">About</a>
            <a href="login.ejs" class="buttons">Logout</a>
        </div>
    </nav>
   </section>

    <section class="body">
        <div class="message">
            MEET OUT TEAM
        </div>
        <div class="container">
            <div class="card">
                <div class="imgbx">
                    <img src="/src/public/assets/Snehasish.jpeg" alt="" srcset=""
                        style="max-height: 250px;">
                </div>
                <div class="details">
                    <br> <p>Snehashis<br><span>Backend Developer</span></p><br>
                    <div class="contents">
                       
                        <ul>
                            <li> <a href="https://instagram.com" target="_blank" class="instagram">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li><a href="https://github.com" target="_blank" class="github">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            <li> <a href="https://facebook.com" target="_blank" class="facebook">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li> <a href="https://linkedin.com" target="_blank" class="linkedin">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgbx">
                    <img src="/src/public/assets/Tiyasha.jpeg" alt="" 
                        style="max-height: 350px;">
                </div>
                <div class="details">
                    <br><p>Tiyasha<br><span>UI/UX</span></p><br>
                    <div class="contents">
                        
                        <ul>
                            <li> <a href="https://instagram.com" target="_blank" class="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li><a href="https://github.com" target="_blank" class="github">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li> <a href="https://facebook.com" target="_blank" class="facebook">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li> <a href="https://linkedin.com" target="_blank" class="linkedin">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgbx">
                    <img src="/src/public/assets/Upayan.jpeg" alt="" srcset=""
                        style="height: 250px;">
                </div>
                <div class="details">
                  <br>  <p>Upayan<br><span>Frontend Developer</span></p><br>
                    <div class="contents">
                      
                        <ul>
                            <li> <a href="https://instagram.com" target="_blank" class="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li><a href="https://github.com" target="_blank" class="github">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li> <a href="https://facebook.com" target="_blank" class="facebook">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li> <a href="https://linkedin.com" target="_blank" class="linkedin">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>