<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheets/Welcome.css">
</head>

<body>

    <nav class="nav">
        <div class="logo" >
         <img src="/assets/Main Logo.png"
            alt="MediMate">
        </div>
        <div class="button">
            <a href="#section1" class="buttons">Home</a>
            <a href="#section2" class="buttons">About</a>
            <a href="#section3" class="buttons">Contact Us</a>
            <a href="/login-page" class="buttons" target="_blank">Login</a>
        </div>
    </nav>

    <section class="hero">
        <div class="container" id="section1">
            <div class="home">
                <h1>Welcome</h1>
                <h3>Pill Punctuality: Click, Set, and Forget!</h3>
            </div>

            <a href="/register-page" class="Register" target="_blank">Register</a>
        </div>
    </section>

    <section class="box1" id="section2">
        <div class="info">
            <div class="icons" style="display: flex; ">
                <img src="/assets/1.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">User-Friendly Interface to make things easier for you</p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/assets/2.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Personalized Medicine Scheduling</p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/assets/3.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Email Notifiactions so you never forget to take your Medicine</p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/assets/4.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Set Multiple Alarm and keep track of your Medicines</p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/assets/5.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Track progress of you cource duration </p>
            </div>
            <div class="icons" style="display: flex;">
                <img src="/assets/6.png" alt="Image" style="width: 100px; height: 100px;">
                <p style="font-size: x-large;">Keep Track our your Dose Intake</p>
            </div>
        </div>
    </section>
    <section class="contactus">
        <div class="header">Contact Us</div>
        <div class="container2" id="section3">
            <div class="contact-form">
                <h3>Send Us A Message</h3>
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="938a877b-d86f-47d4-bf5e-f264cfc71745">
                    <input type="text" placeholder="First Name" name="First Name" required>
                    <input type="text" placeholder="Last Name" name="Last Name" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <textarea placeholder="Type your message here..." rows="4" name="message" required></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="contact-details">
                <h3>Contact Details</h3>
                <p>Email: tiyasavsnpatra2006@gmail.com</p>
                <p>Address: Jalpaiguri Govt. Engineerig College, Jalpaiguri, West Bengal</p>
            </div>
        </div>
    </section>
</body>

</html>